---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ModelY from '../components/ModelY.astro';
import Model3 from '../components/Model3.astro';
import ModelS from '../components/ModelS.astro';
import SolarPanels from '../components/SolarPanels.astro';
import Accesorios from '../components/Accesorios.astro';
---

<Layout title="Tesla - El auto de tus sueños (y de Elon Musk)">

<LandingHeader />
<main class="snap-y snap-mandatory h-screen w-screen relative overflow-auto overflow-x-hidden scroll-smooth">
<div class="snap-center">
	<HeroSection />
</div>
<div class="snap-center">
	<ModelY />
</div>
<div class="snap-center">
	<Model3 />
</div>
<div class="snap-center">
	<ModelS />
</div>
<div class="snap-center">
	<SolarPanels />
</div>
<div class="snap-center">
	<Accesorios />
</div>
</main>
	
</Layout>