<section class="landing-section h-screen w-screen bg-black text-center overflow-hidden relative"
data-header-color='#171A20'>
<div class="z-30 relative h-full w-full flex flex-col">
        <header>
            <h2 class="text-[#171A20]  text-[40px] font-medium mt-[135.46px] transition-colors duration-300">
                Accesorios
            </h2>
        </header>
    <footer class="flex flex-col flex-grow justify-end ">
        <div class="pb-[40px] mb-[16px]">
            <a class="border-[3px] bg-white border-white rounded text-sm font-medium text-gray-700 px-20 py-2 inline-block" href="#">Comprar ahora</a>    
        </div>
        <div class="gap-x-4 flex mx-auto pb-[16px] mb-[16px] text-gray-300 font-medium text-[12px]">
            <a href="#">Tesla © 2023</a>
            <a href="#" >Privacidad y legal</a>
            <a href="#" >Contacto</a>
            <a href="#">Noticias</a>
            <a href="#">Seguir informado</a>
            <a href="#">Localización de tiendas</a>
        </div>
    </footer>      

</div>
<div class="absolute top-0 bottom-0 h-full w-full z-10 ">
    <img src="/Accesorios.avif" alt="Model Y" class="h-full w-full object-cover object-center">
</div>
    </section>