

<section class="landing-section h-screen w-screen bg-black text-center overflow-hidden relative"
data-header-color='#171A20'>
<div class="z-30 relative h-full w-full flex flex-col">
        <header>
            <h2 class="text-[#171A20]  text-[40px] font-medium mt-[135.46px] transition-colors duration-300">
                Model X
            </h2>
            <p class="text-[#171A20] text-sm underline  ">Concertar una prueba de conducción
            </p>
        </header>
    <footer class="flex flex-col flex-grow justify-end">
        <div class="gap-x-6 flex mx-auto pb-[16px] mb-[16px]">
            <a class="border-[3px] bg-[#3C3D42] border-[#3C3D42] rounded text-sm font-medium text-white px-12 py-2 inline-block" href="#">Explorar inventario</a>
            <a class="border-[3px] bg-[#E9E7E6] border-[#E9E7E6] rounded text-sm font-medium text-gray px-12 py-2 inline-block" href="#">Pedido Personalizado</a>    
        </div>
        <div class="pb-[16px]">
            <p class="text-[#171A20]  underline text-xs">Disponible con Moves III</p>
        </div>
    </footer>      

</div>
<div class="absolute top-0 bottom-0 h-full w-full z-10 ">
    <img src="/ModelX.avif" alt="Model Y" class="h-full w-full object-cover object-center">
</div>
    </section>