<section class="landing-section h-screen w-screen bg-black text-center overflow-hidden relative"
data-header-color='#171A20'>
<div class="z-30 relative h-full w-full flex flex-col">
        <header>
            <h2 class="text-[#171A20]  text-[40px] font-medium mt-[135.46px] transition-colors duration-300">
                Solar y Powerwall
            </h2>
            <p class="text-[#171A20] text-sm  ">Energia para todos
            </p>
        </header>
    <footer class="flex flex-col flex-grow justify-end">
        <div class="pb-[40px] mb-[16px]">
            <a class="border-[3px] bg-[#1F2229] border-[#1F2229] rounded text-sm font-medium text-white px-24 py-2 inline-block" href="#">Saber más</a>    
        </div>
    </footer>      

</div>
<div class="absolute top-0 bottom-0 h-full w-full z-10 ">
    <img src="/SolarPanels.avif" alt="Model Y" class="h-full w-full object-cover object-center">
</div>
    </section>